@use "../../styles/colors.scss" as *;

.sidebar {
  background-color: $white;
  margin: 0;
  padding-top: 40px;
  width: fit-content;
  height: calc(100vh - 100px);
  z-index: 1;
  position: relative;

  .arrow-box {
    position: absolute;
    top: -13px;
    right: -15px;
    width: fit-content;
    background-color: $primary-text;
    color: white;
    padding: 2px 10px;
    border-radius: 10%;
  }
  
  a {
    display: block;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 500;
    color: $primary-text;
    line-height: 40px;
    height: 40px;
    position: relative;
    text-decoration: none;
    &:active {
      background-color:#39CDCC;
    }
    svg,
    img {
      padding-right: 10px;
      opacity: 0.5;
    }
    span {
      vertical-align: middle;
    }
  }
  p {
    color: $primary-text;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
  }

  .unCollapse {
    span {
      display: none;
      transition: ease-in-out 3000ms;
      transition-duration: 3000ms;
    }
    img :not(:nth-child(1)) {
      display: none;
    }
  }
}

// Small Screens
@media screen and (max-width: 480px) {
  .sidebar {
    display: none;
    .arrow-box {
      display: none;
    }
  }
}

// Medium Screen
@media screen and (max-width: 720px) {
  .sidebar {
    // background-color: $primary;
  }
}

// Larger Screens
@media screen and (max-width: 1024px) {
  .sidebar {
  }
}
